{
    "singleQuote": true,
    "semi": true,
    "useTabs": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 120,
    "parser": "babel",
    "bracketSpacing": true,
    "arrowParens": "avoid"
}
