.portfolio__wrap {
    /* height: 10161.7px; */
    /* height: 100vw; */
    width: 100%;
}
.portfolio__animate {
    /* order: 0; 
    place-self: auto; 
    grid-area: auto / auto / auto / auto; 
    z-index: 0; 
    float: none; 
    flex-shrink: 1; 
    display: flex; 
    margin: 0px; 
    inset: 0px; 
    position: relative; 
    flex-basis: auto; 
    overflow: visible; 
    box-sizing: border-box; 
    width: 1920px;  */
    /* height: 10162.4px; */
    /* height: 10vw;
    padding: 0px 0px 9626px; */
    width: 100vw;
    height: 3400vh;
    position: relative;
    /* width: 100%; */

}
.portfolio__contents {
    /* translate: none;
    rotate: none;
    scale: none;
    left: 0px;
    top: 0.001px;
    margin: 0px;
    max-width: 1920px;
    width: 1920px;
    max-height: 536px;
    height: 100%;
    padding: 0px;
    box-sizing: border-box;
    position: fixed;
    transform: translate(0px, 0px); */
    position: fixed;
    width: 100%;
    height: 100%;
}
/* boxtable0 */
.portfolio__desc.t0 {
    /* z-index: 0; */
    width: 120vw;
    height: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.portfolio__desc.t0::after, 
.portfolio__desc.t0::before {
    position: absolute;
    content: '';
    width: 17.5%;
    height: 2.4px;
    background-color: #fff;
} 
.portfolio__desc.t0::after {
    top: 0;
    left: 0;
    transform: rotate(26.6deg);
    transform-origin: left top;
}
.portfolio__desc.t0::before {
    top: 0;
    right: 0;
    transform: rotate(333.5deg);
    transform-origin: right top;
}
.portfolio__line {
    width: 69%;
    height: 69%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #000; */
    border: 2.4px solid #fff;
}
.portfolio__line.t0::after, 
.portfolio__line.t0::before {
    position: absolute;
    content: '';
    width: 25.5%;
    height: 2.4px;
    background-color: #fff;
} 
.portfolio__line.t0::after {
    bottom: 0;
    left: 0;
    transform: rotate(153.3deg);
    transform-origin: left bottom;
}
.portfolio__line.t0::before {
    bottom: 0;
    right: 0;
    transform: rotate(206.67deg);
    transform-origin: right bottom;
}
.portfolio__item.t0 {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* boxtable1 */
.portfolio__desc.t1 {
    /* z-index: 1; */
    width: 174.6vw;
    height: 87.44vw;
    /* position: relative; */
    /* border: 2.4px solid #fff; */
    /* background-color: #d47b7b; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.portfolio__desc.t1::after, 
.portfolio__desc.t1::before {
    position: absolute;
    content: '';
    width: 15.9%;
    height: 2.4px;
    background-color: #fff;
} 
.portfolio__desc.t1::after {
    top: 0;
    left: 0;
    transform: rotate(26.8deg);
    transform-origin: left top;
}
.portfolio__desc.t1::before {
    top: 0;
    right: 0;
    transform: rotate(333.2deg);
    transform-origin: right top;
}

.box__gap.t1 {
    width: 71.8%;
    height: 71.5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
    border: 2.4px solid #fff;
}
.box__gap.t1::after, 
.box__gap.t1::before {
    position: absolute;
    content: '';
    width: 22.22%;
    height: 2.4px;
    background-color: #fff;
} 
.box__gap.t1::after {
    bottom: 0;
    left: 0;
    transform: rotate(153.1deg);
    transform-origin: left bottom;
}
.box__gap.t1::before {
    bottom: 0;
    right: 0;
    transform: rotate(206.9deg);
    transform-origin: right bottom;
}

.portfolio__item__box {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.portfolio__item.t1 {
    width: 99.9%;
    height: 98.5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.portfolio__item.t1 ul {
    width: 150%;
    height: 100%;
    display: flex;
}
.portfolio__item.t1 ul li {
    width: 25%;
    height: 100%;
    margin-right: 40px;
    display: inline-block;
    border: 2.4px solid #fff;
    background-color: #000;
}


/* boxtable2 */
.portfolio__desc.t2 {
    pointer-events: none;
    /* z-index: 2; */
    width: 253.0vw;
    height: 127vw;
    /* position: relative; */
    /* border: 2.4px solid #fff; */
    /* background-color: #d47b7b; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.portfolio__desc.t2::after, 
.portfolio__desc.t2::before {
    position: absolute;
    content: '';
    width: 15.9%;
    height: 2.4px;
    background-color: #fff;
} 
.portfolio__desc.t2::after {
    top: 0;
    left: 0;
    transform: rotate(26.8deg);
    transform-origin: left top;
}
.portfolio__desc.t2::before {
    top: 0;
    right: 0;
    transform: rotate(333.2deg);
    transform-origin: right top;
}

.portfolio__desc.t2 .portfolio__line {
    /* margin: 1vw; */
}

.box__gap.t2 {
    width: 71.8%;
    height: 71.5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
    border: 2.4px solid #fff;
}
.box__gap.t2::after, 
.box__gap.t2::before {
    position: absolute;
    content: '';
    width: 22.29%;
    height: 2.4px;
    background-color: #fff;
} 
.box__gap.t2::after {
    bottom: 0;
    left: 0;
    transform: rotate(152.8deg);
    transform-origin: left bottom;
}
.box__gap.t2::before {
    bottom: 0;
    right: 0;
    transform: rotate(207.2deg);
    transform-origin: right bottom;
}

.portfolio__item__box {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.portfolio__item__box {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.portfolio__item.t2 {
    width: 100%;
    height: 99.8%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.portfolio__item.t2 ul {
    width: 100%;
    height: 165%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio__item.t2 ul li {
    width: 98%;
    height: 27%;
    margin-bottom: 30px;
    display: block;
    
    border: 2.4px solid #fff;
    background-color: #000;
}



/* boxtable3 */
.portfolio__desc.t3 {
    pointer-events: none;
    /* z-index: 3; */
    width: 368vw;
    height: 185.6vw;
    /* position: relative; */
    border: 2.4px solid #fff;
    /* background-color: #d47b7b; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.portfolio__desc.t3::after, 
.portfolio__desc.t3::before {
    position: absolute;
    content: '';
    width: 15.9%;
    height: 2.4px;
    background-color: #fff;
} 
.portfolio__desc.t3::after {
    top: 0;
    left: 0;
    transform: rotate(26.9deg);
    transform-origin: left top;
}
.portfolio__desc.t3::before {
    top: 0;
    right: 0;
    transform: rotate(333.2deg);
    transform-origin: right top;
}

.box__gap.t3 {
    width: 71.8%;
    height: 71.5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
    border: 2.4px solid #fff;
}
.box__gap.t3::after, 
.box__gap.t3::before {
    position: absolute;
    content: '';
    width: 22.29%;
    height: 2.4px;
    background-color: #fff;
} 
.box__gap.t3::after {
    bottom: 0;
    left: 0;
    transform: rotate(153.2deg);
    transform-origin: left bottom;
}
.box__gap.t3::before {
    bottom: 0;
    right: 0;
    transform: rotate(206.72deg);
    transform-origin: right bottom;
}

.portfolio__item__box {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.portfolio__item__box {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.portfolio__item.t3 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}