:root {

}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #000;
    color: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body,
div,
dl,
dd,
dt,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
p,
table,
th,
td,
input,
figure,
figcaption,
blockquote {
    margin: 0;
    padding: 0;
}
body, input, textarea, select, button, table {
    font-size: 16px;
    line-height: 1.4;
    font-family: "GmarketSans";
    font-weight: 500;
    letter-spacing: -0.4px;
}
a {
    text-decoration: none;
    color: #333;
}
li,
ol,
ul {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 1rem;
}
em,
address {
    font-style: normal;
}
img,
svg,
video {
    display: block;
    height: auto;
    max-width: 100%;
}
img,
fieldset,
button {
    border: 0;
}


.portfolio__desc.t0 {
    z-index: 0;
    width: 120vw;
    height: 60vw;
    /* position: relative; */
    border: 4px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.portfolio__desc.t1 {
    z-index: 1;
    width: 150vw;
    height: 70vw;
    /* position: relative; */
    border: 2px solid #fff;
    /* background-color: #d47b7b; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.portfolio__desc::after, 
.portfolio__desc::before {
    position: absolute;
    content: '';
    width: 17.4%;
    height: 2px;
    background-color: #fff;
} 
.portfolio__desc::after {
    top: 0;
    left: 0;
    transform: rotate(26.4deg);
    transform-origin: left top;
}
.portfolio__desc::before {
    top: 0;
    right: 0;
    transform: rotate(333.7deg);
    transform-origin: right top;
}

.portfolio__line {
    width: 69%;
    height: 69%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    border: 2px solid #fff;
}
.portfolio__line::after, 
.portfolio__line::before {
    position: absolute;
    content: '';
    width: 25.5%;
    height: 2px;
    background-color: #fff;
} 
.portfolio__line::after {
    bottom: 0;
    left: 0;
    transform: rotate(153.5deg);
    transform-origin: left bottom;
}
.portfolio__line::before {
    bottom: 0;
    right: 0;
    transform: rotate(206.4deg);
    transform-origin: right bottom;
}

.portfolio__item {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

